openapi: 3.0.0
info:
  title: Workforce Management System - Inbound Task API
  description: |
        This API allows you to send task data with answers to the Inbound Task API.
        The API is designed to be used by the Workforce Management System.
  version: 1.0.0
servers:
  - url: https://inbound.urbint.com/api/v1
paths:
  /task:
    post:
      summary: Submit completed task data
      description: Allows a 3rd Party system to submit completed task responses, including answers and attachments, to DP.
      operationId: submitTask
      tags:
        - Tasks
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubmission'
      responses:
        '201':
          description: Task data received and answers updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Task data received and answers updated
        '401':
          description: Unauthorized - Missing or invalid API key.
        '422':
          description: Validation Error - Missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error.

components:
  schemas:
    Attachment:
      properties:
        url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Url
        type:
          type: string
          title: Type
          description: MIME type, e.g., image/jpeg, application/pdf
      type: object
      required:
        - url
        - type
      title: Attachment
    TaskSubmission:
      properties:
        customer_id:
          type: string
          title: Customer Id
        ticket_id:
          type: string
          title: Ticket Id
        ticket_number:
          type: string
          title: Ticket Number
        task_id:
          type: string
          title: Task Id
        completed_by:
          type: string
          title: Completed By Email/Username
        questions:
          items:
            $ref: '#/components/schemas/QuestionAnswer'
          type: array
          title: Questions
        attachments:
          items:
            $ref: '#/components/schemas/Attachment'
          type: array
          title: Attachments
          default: []
      type: object
      required:
        - customer_id
        - ticket_id
        - ticket_number
        - completed_by
        - questions
      title: TaskSubmission
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    QuestionAnswer:
      properties:
        question:
          type: string
          title: Question
        answer:
          type: string
          title: Answer
      type: object
      required:
        - question
        - answer
      title: QuestionAnswer
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
