openapi: 3.0.0
info:
  title: Damage Prevention Reporting Service
  description: API's for fetching reports
  version: 1.0.0
servers:
  - url: https://reporting.urbint.com/dp/api/v1
paths:
  /tickets:
    get:
      summary: Retrieve Ticket data
      description: Fetch a list of tickets based on their creation time.
      security:
        - api_key: []
      parameters:
        - name: api_key
          in: header
          description: API key for authentication
          required: true
          schema:
            type: string
            example: "39b290146bea6ce975c37cfc23"
        - name: startDatetime
          in: query
          description: Refers to create_time attribute. Filter by ticket creation start time (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
            example: "2025-03-01T14:30:00Z"
        - name: endDatetime
          in: query
          description: Refers to create_time attribute. Filter by ticket creation start time (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
            example: "2025-03-10T14:30:00Z"
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: Number of records per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: A list of ticket reports with pagination metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total_records:
                        type: integer
                        description: Total number of records available
                        example: 2
                      page:
                        type: integer
                        description: Current page number
                        example: 1
                      page_size:
                        type: integer
                        description: Number of records per page
                        example: 2
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TicketReport'
                    example:
                      - ticket: "B329601636"
                        ticket_version:
                          - version: 1
                            type: "STANDARD NEW TICKET"
                            description: "Excavation work for pipeline maintenance"
                            excavation_work_type: "SAWCUTTING ASPHALT"
                            excavation_state: "California"
                            excavation_county: "Los Angeles"
                            excavation_city: "Los Angeles"
                            excavation_address: "123 Main St"
                            damage_potential: "LOW"
                            impact_potential: "MEDIUM"
                            work_start_date: "2025-03-01"
                            ticket_reported_date: "2025-02-15"
                            work_done_for: "BGE AND NPL"
                            response_due_date: "2025-02-25"
                            scaled_impact_score: 7.5
                            scaled_threat_score: 6.8
                            has_boring: false
                            excavator_name: "ADVANCED IRRIGATION"
                            related_ticket_id: "B325401342"
                            latitude: 34.0522
                            longitude: -118.2437
                            members_code: "COX649"
                            call_center: "VUPC"
                        contact:
                          name: "John Doe"
                          email: "johndoe@example.com"
                          phone_number: "+1-555-123-4567"
                      - ticket: "B329601637"
                        ticket_version:
                          - version: 2
                            type: "STANDARD UPDATE"
                            description: "Additional excavation for electrical wiring"
                            excavation_work_type: "RENEW POLE"
                            excavation_state: "New York"
                            excavation_county: "Kings"
                            excavation_city: "Brooklyn"
                            excavation_address: "456 Elm St"
                            damage_potential: "MEDIUM"
                            impact_potential: "NO_ASSETS"
                            work_start_date: "2025-04-10"
                            ticket_reported_date: "2025-03-20"
                            work_done_for: "BGE"
                            response_due_date: "2025-03-30"
                            scaled_impact_score: 8.2
                            scaled_threat_score: 7.1
                            has_boring: true
                            excavator_name: "ADVANCED IRRIGATION"
                            related_ticket_id: "B325401345"
                            latitude: 36.720281
                            longitude: -76.298158
                            members_code: "DOM409"
                            call_center: "VUXC"
                        contact:
                          name: "Jane Smith"
                          email: "janesmith@example.com"
                          phone_number: "+1-555-987-6543"
        '400':
          description: Invalid request parameters
        '500':
          description: Internal server error
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key
  schemas:
    TicketReport:
      type: object
      properties:
        ticket:
          type: string
          example: "TICKET-123456"
        ticket_version:
          type: object
          properties:
            version:
              type: integer
              example: 1
            type:
              type: string
              enum: [STANDARD NEW TICKET, STANDARD UPDATE, EMERGENCY NEW TICKET, STANDARD NO RESPONSE]
            description:
              type: string
              example: "Excavation work for pipeline maintenance"
            excavation_work_type:
              type: string
              enum: [SAWCUTTING ASPHALT, RENEW POLE, EMERGENCY REPAIR OF BGE GAS EQUIPMENT, INST A FENCE]
            excavation_state:
              type: string
              example: "California"
            excavation_county:
              type: string
              example: "Los Angeles"
            excavation_city:
              type: string
              example: "Los Angeles"
            excavation_address:
              type: string
              example: "123 Main St"
            damage_potential:
              type: string
              enum: [LOW, MEDIUM, HIGH]
            impact_potential:
              type: string
              enum: [LOW, NO_ASSETS, MEDIUM]
            work_start_date:
              type: string
              format: date
              example: "2025-03-01"
            ticket_reported_date:
              type: string
              format: date
              example: "2025-02-15"
            work_done_for:
              type: string
              enum: [BGE AND NPL, BGE, CITY OF BALTIMORE DPW]
            response_due_date:
              type: string
              format: date
              example: "2025-02-25"
            scaled_impact_score:
              type: number
              format: decimal
              example: 7.5
            scaled_threat_score:
              type: number
              format: decimal
              example: 6.8
            has_boring:
              type: boolean
              example: true
            excavator_name:
              type: string
              example: "XYZ Excavation Co."
            related_ticket_id:
              type: string
              example: "TICKET-654321"
            latitude:
              type: number
              format: float
              example: 34.0522
            longitude:
              type: number
              format: float
              example: -118.2437
            members_code:
              type: string
              items:
                type: string
              example: "DOM409"
            call_center:
              type: string
              example: "VUPSS"
        contact:
          type: object
          properties:
            name:
              type: string
              example: "John Doe"
            email:
              type: string
              example: "johndoe@example.com"
            phone_number:
              type: string
              example: "+1-555-123-4567"
